// .page-footer .container .row a {
//   margin: 0 40px;
// }
//
// .page-footer .footer-copyright a {
//   margin-left: 20px;
// }

// .page-footer {
//   background-color: #EEF0F3 !important;
// }

// .page-footer .container .row .col {
//   display: flex;
//   justify-content: space-between;
// }

// .page-footer .footer-copyright .container {
//   display: flex;
//   justify-content: space-between;
// }

// .page-footer a {
//   font-weight: 400 !important;
// }

.page-footer p {
  margin: 15px 0;
}

.page-footer li {
  padding: 2px 0;
}

.footer-copyright {
  background-color: #424242 !important;
}
