.form-panel {
  margin-top: 20px !important;
  padding: 25px !important;
}

.form-panel .row .input-field input {
  margin-bottom: 10px !important;
}

.form-panel h4 {
  font-weight: 500;
  margin: 10.5px 0;
}

.form-panel p {
  margin: 0 0 25px 0;
}

.form-panel a.forgot-password {
  margin: 0 10.5px 0 0;
}

.form-panel button.btn {
  margin: 10.5px 0 10.5px 10.5px;
}
