.game-info {
  margin-top: 20px !important;
}
.modal-input {
  margin-top: 40px !important;
}

.modal-footer {
  bottom: 20px;
  position: absolute;
  width: calc(100% - 40px);
}

.price-label {
  margin: 0 !important;
}

.game-view .parallax-container {
  height: 250px;
}

.game-view .parallax-container .parallax img {
  display: block !important;
}

.game-view .modal .modal-content h5 {
  font-weight: 500;
  margin: 0 0 24px 0 !important;
}

.game-view .modal .modal-content p {
  margin: 0 0 20px 0 !important;
}

.game-view .modal .modal-content label {
  font-weight: 500;
}

.game-view .modal .modal-footer .modal-action {
  margin: 0 10px 0 0 !important;
}

.game-view .container .row {
  margin: 0 !important;
  padding: 0 20px;
}

.game-view .left-section {
  padding: 41px 20px;
  width: 100%;
}

.game-view .left-section h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 20px 0 !important;
}

.game-view .left-section .download-widget {
  height: 36px;
  margin: 0 !important;
}

.game-view .left-section .download-widget a.btn {
  margin-right: 10px;
}

.game-view .left-section .download-widget p {
  font-weight: 500;
  margin: 0 0 0 15px !important;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.game-view .left-section .video-container {
  margin-top: 20px;
}

.game-view .left-section .game-body {
  margin-top: 20px;
  text-align: justify;
}

.game-view .left-section .game-body p {
  margin: 0 !important;
}

.game-view .right-section {
  padding: 41px 20px;
  width: 100%;
}

.game-view .right-section .developer-widget {
  align-items: center;
  display: flex;
  height: 60px;
  margin-bottom: 40px;
}

.game-view .right-section .developer-widget img {
  height: 60px;
  margin-right: 20px;
  width: 60px;
}

.game-view .right-section .developer-widget p {
  line-height: 30px;
  margin: 0 0 0 10px;
}

.game-view .right-section .developer-widget b {
  margin-right: 10px;
}

.game-view .right-section .snapshots-container img {
  margin-bottom: 20px;
}

.game-view .right-section .additional-info-widget p {
  margin: 0 !important;
}
