.promotion-table {
  margin-top: 40px;
}

.promotion-table i {
  font-size: 100px;
}

.promotion-table h5 {
  font-weight: 500;
  margin: 20px;
}

.promotion-table p {
  font-weight: 300;
  margin: 0;
}
